<div class="header">
  <div class="title header-element">Віртуальна лабораторія</div>

  <div class="tabs header-element">
    <div>
      <button class="header-btn" mat-button routerLink="tasks">
        Доступні завдання
      </button>
      <button *ngIf="!isAdmin" class="header-btn" mat-button routerLink="marks">Оцінки</button>
      <button *ngIf="!isAdmin" class="header-btn" mat-button routerLink="statistics">
        Статистика
      </button>
    </div>
      <button *ngIf="isAdmin" class="header-btn" mat-button routerLink="add-task">
        Додати завдання
      </button>
      <button *ngIf="isAdmin" class="header-btn" mat-button routerLink="add-student">
        Додати користувача
      </button>
  </div>

  <div
    *ngIf="!!currentUser; else notAuthenticated"
    class="login header-element"
  >
    <div>{{ currentUser.fullname }}</div>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="shitass">
      <svg
        class="MuiSvgIcon-root"
        focusable="false"
        viewBox="0 0 24 24"
        aria-hidden="true"
      >
        <path
          d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"
        ></path>
      </svg>
    </button>
    <mat-menu #menu="matMenu">
      <button
        *ngIf="authService.isUserAdmin()"
        (click)="onAddStudent()"
        mat-menu-item
      >
        <mat-icon>person_add</mat-icon>
        <span>Додати студента</span>
      </button>
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Налаштування</span>
      </button>
      <button mat-menu-item (click)="onLogout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Вийти</span>
      </button>
    </mat-menu>
  </div>
  <ng-template #notAuthenticated>
    <div class="login header-element">Авторизація не пройдена</div>
  </ng-template>
</div>
