<p style="margin-left: 40%; text-transform: uppercase;">доступні завдання</p>

<div class="tasks">
  <app-task [title]="'Завдання 1'"
            [description]="'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s'">
  </app-task>

  <app-task [title]="'Завдання 2'"
            [description]="'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s'">
  </app-task>

  <app-task [title]="'Завдання 3'"
            [description]="'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s'">
  </app-task>

  <app-task [title]="'Завдання 4'"
            [description]="'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s'">
  </app-task>

  <app-task [title]="'Завдання 5'"
            [description]="'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s'">
  </app-task>
</div>
