<div class='root'>
  <div class='title'>СТАТИСТИКА ЗАВДАНЬ</div>
  <div class='stats'>
    <div class='numbers row'>
      <div class='number-stat'>
        <div class='number blue'>
          {{ averageTimeFormatted }}
        </div>
        <div class='desc'>
          Середній час на виконання завдання
        </div>
      </div>
      <div class='number-stat'>
        <div class='number green'>
          {{ userStats.averageMark.toFixed(1) }}
        </div>
        <div class='desc'>
          Середня оцінка
        </div>
      </div>
      <div class='number-stat'>
        <div class='number blue'>
          {{ userStats.tasksCompletedLastWeek }}
        </div>
        <div class='desc'>
          Виконаних завдань за останній тиждень
        </div>
      </div>
    </div>
    <div class='charts row'>
      <plotly-plot [data]="taskMarksChart.data" [layout]="taskMarksChart.layout" [config]="plotConfig"></plotly-plot>
      <plotly-plot [data]="taskTimeChart.data" [layout]="taskTimeChart.layout" [config]="plotConfig"></plotly-plot>
    </div>
  </div>
</div>
