<div class='root'>
  <div class='title'>СТАТИСТИКА ЗАВДАНЬ</div>
  <div class='stats'>
    <div class='numbers row'>
      <div class='number-stat'>
        <div class='number blue'>
          00:04:20
        </div>
        <div class='desc'>
          Середній час на виконання завдання
        </div>
      </div>
      <div class='number-stat'>
        <div class='number green'>
          4,9
        </div>
        <div class='desc'>
          Середня оцінка
        </div>
      </div>
      <div class='number-stat'>
        <div class='number blue'>
          27
        </div>
        <div class='desc'>
          Виконаних завдань за останній тиждень
        </div>
      </div>
    </div>
    <div class='charts row'>
      <plotly-plot [data]="taskMarksChart.data" [layout]="taskMarksChart.layout"></plotly-plot>
      <plotly-plot [data]="taskTimeChart.data" [layout]="taskTimeChart.layout"></plotly-plot>
    </div>
  </div>
</div>
